<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Meu Pet - Cuidado Animal</title>
    <link rel="stylesheet" th:href="@{/css/reset.css}"/>
    <link rel="stylesheet" th:href="@{/css/geral.css}"/>
    <link rel="stylesheet" th:href="@{/css/index.css}"/>
</head>
<body>
    <header class="navbar">
        <nav class="navbar-menu">
            <a class="navbar-menu-item" th:href="@{/index}">Home</a>
            <a class="navbar-menu-item" th:href="@{/signup}">Cadastre-se</a>
            <a class="navbar-menu-item" th:href="@{/login}">Login</a>
        </nav>
    </header>

    <main class="content">
        <section class="content-main">
            <div class="content-main-text">
                <h1 class="content-main-text-title">Meu Pet</h1>
                <h2 class="content-main-text-subtitle">Cuidado Animal</h2>
                <p class="content-main-text-paragraph">Cuide da saúde e do bem-estar do seu melhor amigo.
                    Encontre todas as informações do seu pet em um único lugar.
                    Adicione vacinas, medicamentos, exames e muito mais.</p>
                <div>
                    <a class="content-main-text-button-signup" th:href="@{/signup}">Criar Conta</a>
                </div>
            </div>
            <div class="content-main-logo">
                <img class="content-main-logo-img" th:src="@{/images/logo.jpg}" alt="Imagem da Meu Pet">
            </div>
        </section>
    </main>

    <footer>

    </footer>

</body>
</html>