<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Meu Pet - Cuidado Animal</title>
    <link rel="stylesheet" th:href="@{/css/reset.css}"/>
    <link rel="stylesheet" th:href="@{/css/geral.css}"/>
    <link rel="stylesheet" th:href="@{/css/login.css}"/>
</head>
<body>
    <header class="navbar">
        <nav class="navbar-menu">
            <a class="navbar-menu-item" th:href="@{/index}">Home</a>
            <a class="navbar-menu-item" th:href="@{/signup}">Cadastre-se</a>
            <a class="navbar-menu-item" th:href="@{/login}">Login</a>
        </nav>
    </header>

    <main class="content">
        <section class="content-main">
            <div class="content-main-center">
                <h1 class="content-main-title">Meu Pet</h1>
                <p class="content-main-subtitle">Login</p>
                <form class="content-main-login" action="/login" method="post">
                    <div>
                        <input placeholder=" Nome" name="name" class="content-main-login-nome"/>
                    </div>
                    <div>
                        <input placeholder=" Senha" type="password" name="password" class="content-main-login-password"/>
                    </div>
                    <div>
                        <button type="submit" class="content-main-login-button-submit">Entrar</button>
                    </div>
                    <div>
                        <p class="content-main-login-text">Não possui uma conta?</p>
                        <div class="content-main-login-button-signup">
                            <a class="content-main-text-button-signup" th:href="@{/signup}">Cadastre-se agora</a>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </main>

    <footer>

    </footer>

</body>
</html>