<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Meu Pet - Cuidado Animal</title>
    <link rel="stylesheet" th:href="@{/css/reset.css}"/>
    <link rel="stylesheet" th:href="@{/css/geral.css}"/>
    <link rel="stylesheet" th:href="@{/css/login.css}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Knewave&family=Roboto+Condensed&family=Sarala&display=swap" rel="stylesheet">
</head>
<body>
    <header class="navbar">
        <nav class="navbar-menu">
            <a class="navbar-menu-item" th:href="@{/index}">Home</a>
            <a class="navbar-menu-item" th:href="@{/signup}">Cadastre-se</a>
            <a class="navbar-menu-item" th:href="@{/login}">Login</a>
        </nav>
    </header>

    <main class="content">
        <section class="content-main">
            <div class="content-main-center">
                <h1 class="content-main-title">Meu Pet</h1>
                <p class="content-main-subtitle">Login</p>
                <form class="content-main-login" action="/login" method="post">
                    <div>
                        <input class="content-main-item" placeholder=" Nome" name="name"/>
                    </div>
                    <div>
                        <input class="content-main-item" placeholder=" Senha" type="password" name="password"/>
                    </div>
                    <div>
                        <button class="content-main-login-button-submit" type="submit">Entrar</button>
                    </div>
                </form>
                <div class="content-main-text">
                    <p class="content-main-login-text">Não possui uma conta?</p>
                    <div class="content-main-login-button-signup">
                        <a class="content-main-text-button-signup" th:href="@{/signup}">Cadastre-se agora</a>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <footer class="footer">

    </footer>

</body>
</html>