<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Meu Pet - Cuidado Animal</title>
</head>
<body>
    <header class="navbar">
        <nav class="navbar-menu">
            <a class="navbar-menu-item" th:href="@{/home}">Meus Pets</a>
            <a class="navbar-menu-item" th:href="@{/petregister}">Cadastrar Pet</a>
            <a class="navbar-menu-item" th:href="@{/index}">Sair</a>
        </nav>
    </header>

    <footer class="footer">

    </footer>
</body>
</html>