<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Meu Pet - Cuidado Animal</title>
    <link rel="stylesheet" th:href="@{/css/reset.css}"/>
    <link rel="stylesheet" th:href="@{/css/geral.css}"/>
    <link rel="stylesheet" th:href="@{/css/petregister.css}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Knewave&family=Roboto+Condensed&family=Sarala&display=swap" rel="stylesheet">
</head>
<body>
    <header class="navbar">
        <nav class="navbar-menu">
            <a class="navbar-menu-item" th:href="@{/home}">Meus Pets</a>
            <a class="navbar-menu-item" th:href="@{/petregister}">Cadastrar Pet</a>
            <a class="navbar-menu-item" th:href="@{/index}">Sair</a>
        </nav>
    </header>

    <main class="content">
        <section class="content-main">
            <div class="content-main-imagem">
                <img class="content-main-imagem-img" th:src="@{/images/imagem3.jpg}" alt="imagem3 da Meu Pet">
            </div>
            <div class="content-main-text">
                <h1 class="content-main-text-title">Meu Pet</h1>
                <form class="content-main-petregister" action="/petregister" method="post">
                    <div>
                        <input class="content-main-item" placeholder=" Nome" name="name"/>
                    </div>
                    <div>
                        <select class="content-main-item-especial">
                            <option selected>Selecione a especie...</option>
                            <option value="1">Felina</option>
                            <option value="2">Canina</option>
                        </select>
                    </div>
                    <div>
                        <input class="content-main-item" placeholder=" Raça" name="raca"/>
                    </div>
                    <div>
                        <select class="content-main-item-especial">
                            <option selected>Selecione o sexo...</option>
                            <option value="1">Fêmea</option>
                            <option value="2">Macho</option>
                        </select>
                    </div>
                    <div>
                        <input class="content-main-item" placeholder=" Peso" name="peso"/>
                    </div>
                    <div>
                        <input class="content-main-item" placeholder=" Data de nascimento" name="dataDeNascimento"/>
                    </div>
                    <div>
                        <button class="content-main-signup-button-submit" type="submit">Cadastrar Pet</button>
                    </div>
                </form>
            </div>
            <div class="content-main-bc">
            </div>
        </section>
    </main>

    <footer class="footer">

    </footer>
</body>
</html>