<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Meu pet</title>
</head>
<body>
    <h1>Página de Cadastro</h1>
    <form action="/singUp" method="post">
        <input placeholder="Nome" name="name"/>
        <input placeholder="Senha" type="password" name="password"/>
        <input placeholder="Confime sua senha" type="password" name="confirmPassword"/>
        <input placeholder="Email" name="email"/>
        <input placeholder="Confime seu email" name="confirmEmail"/>
        <button type="submit">Enviar</button>
    </form>

</body>
</html>